absl-py==2.0.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.0
comtypes==1.4.7
conan==2.7.0
contourpy==1.0.7
cryptography==43.0.0
cycler==0.11.0
debugpy==1.8.0
decorator==5.1.1
dill==0.3.8
distlib==0.3.8
distro==1.9.0
Django==5.1.3
Dokos==1.0.6
executing==2.0.1
fasteners==0.19
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.39.0
fsspec==2023.10.0
gast==0.5.4
google-auth==2.25.1
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.60.0
h5py==3.10.0
idna==3.4
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.5
isodate==0.7.0
jedi==0.19.1
Jinja2==3.1.2
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab_widgets==3.0.13
keras==2.15.0
kiwisolver==1.4.4
libclang==16.0.6
lxml==5.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
#ml-dtypes==0.2.0
mpmath==1.3.0
mysqlclient==2.2.6
nest-asyncio==1.5.8
networkx==3.2.1
ntlm-auth==1.5.0
#numpy==1.23.5
oauthlib==3.2.2
-e git+https://github.com/openskynetwork/opensky-api.git@c6f34a5a9e6dc37ce58852ffa9110f79c2980a80#egg=opensky_api&subdirectory=python
opt-einsum==3.3.0
packaging==23.0
pandas==2.1.3
parso==0.8.3
patch-ng==1.18.0
pbr==6.1.0
Pillow==9.4.0
platformdirs==4.0.0
plum-dispatch==1.7.4
ply==3.11
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.13.5
pycparser==2.22
pygame==2.5.2
Pygments==2.16.1
pylatexenc==2.10
pyparsing==3.0.9
pyreadline3==3.4.1
pyrtcm==1.0.18
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.2
pyzmq==25.1.1
qiskit-ibmq-provider==0.20.2
qiskit-terra==0.46.2
requests==2.31.0
requests-file==2.1.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.9
rustworkx==0.15.1
scikit-build==0.18.1
scipy==1.14.1
seaborn==0.13.2
simpletcpclient==1.0.1
six==1.16.0
Spire.Presentation==9.3.0
spyne==2.14.0
sqlmap==1.8.4
sqlparse==0.5.2
stack-data==0.6.3
stevedore==5.3.0
symengine==0.11.0
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
torch==2.1.1
torchvision==0.16.1
tornado==6.3.3
traitlets==5.13.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
validators==0.22.0
virtualenv==20.26.3
wcwidth==0.2.10
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.1
Whitechapel==0.7
widgetsnbextension==4.0.13
wrapt==1.14.1
zeep==4.2.1
